body{
background-color:#6854b4;
background-image:url("./bg-desktop.svg");
}
.HeaderContainer{
display:flex;
justify-content:space-between;
align-items:center;
margin:0px
padding:40px
}
.Navigationcontainer{
padding:20px;
margin:0px;
}

a{
color:white;
text-decoration:none;
}
a:hover{
color:#a10cd3;
zoom:120%;
}

.Logocontainer{
padding:0px;

}
.ImageContainer{display:flex;
padding:40px;
margin:0px;
}

.ContentContainer{
color:white;
display:flex;
flex-direction:column;
justify-content:center;
h1{font-family:pacifico;
font-size:38px;
margin:0px;
}
button{
height:50px;
width:220px;
border-radius:100px;
border:none;
}
footer{
display:flex;
justify-content:space-evenly;
background-color:red;
}
}


